@page "{id:int?}"
@model SportsProj.Pages.Players.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Player.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Player.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Player.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Player.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Player.Team)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Player.Team)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Player.Teams)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Stats</th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Player.Teams)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stat.statName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StatValues)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
    </dl>
</div>
<div>
    @*<a asp-page="./Edit" asp-route-id="@Model.Player.PlayerID">Edit</a> |*@
    <a asp-page="./Index">Back to List</a>
</div>
